on: [push, pull_request]

name: Code coverage with grcov

jobs:
  grcov:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
          profile: minimal
          components: llvm-tools-preview 

      - name: Execute tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all -- --test-threads=1
        env:
          CARGO_INCREMENTAL: 0
          LLVM_PROFILE_FILE: "run-%m.profraw"
          RUSTFLAGS: "-Cinstrument-coverage  -Ccodegen-units=1 -Clink-dead-code -Coverflow-checks=off -Cpanic=abort -Zpanic_abort_tests"
      - name: grcov 
        id: coverage
        run: |
          curl -L https://github.com/mozilla/grcov/releases/download/v0.9.1/grcov-x86_64-unknown-linux-musl.tar.bz2 -o grcov.tar.bz2
          tar xjvf grcov.tar.bz2
          ./grcov . -s . --binary-path ./target/debug/ -t lcov --branch --ignore-not-existing --ignore "/*" -o coverage.info
          echo "report=`pwd`/coverage.info" >> $GITHUB_OUTPUT
      - name: Coveralls upload
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel: true
          path-to-lcov:  ${{ steps.coverage.outputs.report }}

  grcov_finalize:
    runs-on: ubuntu-latest
    needs: grcov
    steps:
      - name: Coveralls finalization
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true
